.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  background: var(--background-white);
  border-radius: 8px;
  position: relative;
  height: 100%;
}

.tableTopCont {
  flex: 1;
  overflow-y: auto;
}

.tableControls {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 16px;
  background: var(--background-white);
  position: sticky;
  top: 0;
  z-index: 3;
  border-radius: 8px 8px 0px 0px;
}

.searchCont {
  flex: 1;
}

.tableWrapper {
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead th {
  text-align: left;
  padding: 20px 16px;
  background: var(--table-header);
  user-select: none;
  transition: 0.2s;
  position: sticky;
  top: 64px;
  z-index: 2;
}

th .trCont {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.clickableHeader:hover {
  cursor: pointer;
  background: var(--table-header-hover);
}

.clickableHeader:active {
  background: var(--table-header-active);
}

td {
  padding: 16px;
  border-top: 1px solid var(--border-whitegray);
}

.empty {
  text-align: center;
  color: var(--text-gray);
  padding: 16px 0;
}

.paginationContainer {
  background: var(--background-whitegray);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
  padding: 16px;
  border-radius: 0px 0px 8px 8px;
}

.paginationButtons {
  display: flex;
  gap: 4px;
  align-items: center;
}

.paginationLengthRows {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 32px;
}

.paginationShowRows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 50%;
}

.paginationShowRows .select {
  width: 75px;
}

.dots {
  font-size: 14px;
  padding: 0 4px;
}
