.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profileName {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profileName h2 {
  font-size: 12px;
  height: 16px;
}

.profileName p {
  height: 16px;
}

.profileAvatar {
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
}

.profileAvatar img {
  width: 100%;
  height: 100%;
}

.profileAvatar:hover .settingsIcon {
  opacity: 1;
  pointer-events: all;
}

.settingsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  color: var(--icons-white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.showProfileMenu {
  width: 16px;
  height: 16px;
  background: var(--background-white);
  border-radius: 50%;
  border: 2px var(--background-blue) solid;
  position: absolute;
  bottom: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
