.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profileName {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profileName h2 {
  font-size: 12px;
  height: 16px;
}

.profileName p {
  height: 16px;
}

.profileAvatar {
  width: 48px;
  height: 48px;
  position: relative;
}

.profileAvatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.showProfileMenu {
  width: 16px;
  height: 16px;
  background: var(--background-white);
  border-radius: 50%;
  border: 2px var(--background-blue) solid;
  position: absolute;
  bottom: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
