.sidebarMenuItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 16px 8px 16px 32px;
  transition: 0.25s;
  cursor: pointer;
}

.sidebarMenuItem:hover {
  display: flex;
  padding: 16px 8px 16px 40px;
  background: #ffffff11;
}

.sidebarMenuItem svg {
  width: 16px;
  height: 16px;
}
