.header {
  grid-area: header;
  color: #c4d4de;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 0px;
  font-weight: bold;
}

.profileCont {
  display: flex;
  align-items: center;
  gap: 16px;
}
