.loaderScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.loaderText {
  color: var(--background-layout);
}

.dotLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.dotLoader span {
  width: 10px;
  height: 10px;
  background: var(--background-layout);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dotLoader span:nth-child(2) {
  animation-delay: 0.2s;
}
.dotLoader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-8px);
    opacity: 0.6;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
