.snackbarCont {
  background-color: var(--background-white);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  min-width: 200px;
  max-width: 400px;
  border-left: 10px var(--background-gray) solid;
}

.snackbarHead {
  display: flex;
  align-items: center;
  gap: 8px;
}

.snackbarHead svg {
  width: 16px;
  height: 16px;
}

.snackbarCont.success {
  border-color: var(--background-green60);
}

.snackbarCont.success .snackbarHead svg {
  color: var(--background-green);
}

.snackbarCont.error {
  border-color: var(--background-red60);
}

.snackbarCont.error .snackbarHead svg {
  color: var(--background-red);
}

.snackbarCont.attention {
  border-color: var(--background-orange60);
}

.snackbarCont.attention .snackbarHead svg {
  color: var(--background-orange);
}

.snackbarCont.info {
  border-color: var(--background-gray);
}

.snackbarCont.info .snackbarHead svg {
  color: var(--background-gray);
}

.closeSnackbar {
  position: absolute;
  top: 4px;
  left: -32px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--background-red60);
  border: 0px;
  cursor: pointer;
  transition: 0.2s;
}

.closeSnackbar:hover {
  background: var(--background-red);
}

.closeSnackbar:active {
  transform: scale(0.95);
}

.closeSnackbar svg {
  color: var(--icons-white);
}
