@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-size: 12px;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 140%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background: var(--background-body);
  color: var(--text-black);
}

#root {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  width: 100vw;
  height: 100vh;
}

:root {
  --background-body: #0f4c81;
  --background-layout: #f1f5f8;

  --background-white: #ffffff;
  --background-gray: #a9b0b7;
  --background-whitegray: #e5ebf1;
  --background-blackgray: #686b6c;

  --background-black: #363839;
  --background-black90: #363839e6;
  --background-black60: #36383999;
  --background-black30: #3638394d;

  --background-blue: #0f4c81;
  --background-blue90: #0f4c81e6;
  --background-blue60: #0f4c8199;
  --background-blue30: #0f4c814d;

  --background-red: #f56767;
  --background-red90: #f56767e6;
  --background-red60: #f5676799;
  --background-red30: #f567674d;

  --background-green: #69e16d;
  --background-green90: #69e16de6;
  --background-green60: #69e16d99;
  --background-green30: #69e16d4d;

  --background-orange: #e39d6e;
  --background-orange90: #e39d6ee6;
  --background-orange60: #e39d6e99;
  --background-orange30: #e39d6e4d;

  --background-blue10: #e8edf3;

  --background-shadow-blue: #0a4273;

  --text-black: #363839;
  --text-black60: #36383999;
  --text-white: #ffffff;
  --text-white60: #ffffff99;
  --text-blackgray: #686b6c;
  --text-gray: #a9b0b7;
  --text-red: #f56767;

  --icons-black: #363839;
  --icons-white: #ffffff;
  --icons-blackgray: #686b6c;
  --icons-gray: #a9b0b7;
  --icons-red: #b02b2b;
  --icons-blue: #0f4c81;
  --icons-green: #428c45;
  --icons-orange: #c55611;

  --button-primary: #4e7ea8;
  --button-primary-hover: #6091bb;
  --button-primary-disabled: #b2c6d9;
  --button-secondary: #6c757d;
  --button-secondary-hover: #5a6268;
  --button-secondary-disabled: #b8bdc4;
  --button-outline-hover: #dee2e5;
  --button-outline-disabled: #d9e1e9;

  --table-header: #e5ebf1;
  --table-header-hover: #cdd7e2;
  --table-header-active: #b4beca;

  --border-gray: #b8bdc4;
  --border-whitegray: #e5ebf1;
  --border-blackgray: #686b6c;
  --border-red: #b02b2b;
  --border-blue: #0f4c81;
}

p {
  color: var(--text-black);
}

h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.text_big_bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.text_big {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.text_medium_bold {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.text_medium {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text_small_bold {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.text_small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.shadow-container {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

.no-overflow {
  overflow: unset !important;
}

.snackbar-container {
  position: absolute;
  right: 5px;
  bottom: 21px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  max-height: calc(100vh - 26px);
  box-sizing: border-box;
  padding: 20px 16px 20px 40px;
  z-index: 10000;
}

.snackbar-container:empty {
  display: none;
}
