.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.2s;
  white-space: nowrap;
}

.item:first-child {
  border-radius: 8px 8px 0px 0px;
}

.item:last-child {
  border-radius: 0px 0px 8px 8px;
}

.item.blue {
  color: var(--icons-blue);
}

.item.red {
  color: var(--icons-red);
}

.item:hover {
  background: var(--background-blue10);
}

.icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
}
